Django>=4.2
psycopg2-binary
Pillow
django-allauth[socialaccount]
djangorestframework
django-filter
python-decouple
django-cors-headers
dj-rest-auth
djangorestframework-simplejwt
gunicorn
requests
cryptography
Jinja2
whitenoise