{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h3>{{ _('Удалить задачу') }} {{ object.title }}?</h3>
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <button type="submit" class="btn btn-danger">{{ _('Удалить') }}</button>
                        <a href="{{ url('projects:project_detail', pk=object.project.pk) }}"
                           class="btn btn-secondary">{{ _('Отмена') }}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}